---
---
<footer>
    <nav id="menu">
        <a href="/">Home</a>
        <a href="/updates">Updates</a>
        <a href="/follow">Follow</a>
        <a href="https://github.com/andreas-ku/alpinecss">Github</a>
        <a href="#header">↑ Top of the page</a>
    </nav>
    <small>
        Built with <a href="https://astro.build/">Astro</a> and <a href="https://alpinecss.github.io">Alpine.css</a>.
        <br>
        <!--Maintained with ♥ for the web. <br>-->
        License is <a href="https://choosealicense.com/licenses/mit/">MIT</a>.
    </small>
</footer>