/*
  A11Y checklist (WIP)

  Colors
  [ ] Minimum Contrast https://www.w3.org/WAI/WCAG22/quickref/?versions=2.1#contrast-minimum

  Typographic tweaks
  [ ] Accessible line height (min 1.5): https://www.w3.org/WAI/WCAG21/Understanding/text-spacing.html
  [ ] Line lengh of 45–90 characters, https://practicaltypography.com/line-length.html
  [ ] readable font size: https://practicaltypography.com/point-size.html

  Links
  [ ] Underlines: https://www.w3.org/TR/WCAG20-TECHS/F73.html
*/

* {
    box-sizing: border-box;
}
body {
    font-family: 'Iowan Old Style', 'Palatino Linotype', 'URW Palladio L', P052, serif;
    line-height: 1.5;
    font-size: 22px;
    margin: 0 auto;
    max-width: 55ch;
    padding: 0 10px 10px;
}
h1{font-size:1.4em;margin-top:1em;}
h2,
h3,
h4,
h5,
h6 {
    font-size: 1.15em;
    margin: 2em 0 0;
}
blockquote {
    border-left: 4px solid;
    margin: 2em 0 2em 2em;
    padding: 2px 8px;
}
blockquote p {
    font-style: italic;
    margin: 0;
    padding: 0;
}
img {
    max-width: 100%;
}
pre {
    border: 1px solid;
    white-space: pre-wrap;
    padding: 5px;
}
table {
    text-align: left;
    width: 100%;
}
header {
    border-bottom: 1px solid;
    padding: 0.75em 0;
}
header a:last-of-type {
    float: right;
}
.posts {
    list-style: none;
    padding: 0;
}
.posts li {
    margin-bottom: 0.5em;
}
.posts li span {
    display: block;
    font-size: 90%;
}
nav {
    margin: 1em 0;
}
nav a {
    display: inline-block;
    margin-right: 0.5em;
}
figure {
    margin: 3em 0;
}
figure img {
    width: 100%;
}
figcaption {
    font-size: 90%;
}
footer {
    border-top: 1px solid;
    margin: 2em 0;
}
.footnotes {
    font-size: 90%;
}
code {
    /*background-color: #000;*/
    color: #f1f1f1;
    border-radius: 0.2rem;
    padding: 0.1rem;
}
pre:has(code) {
    border: 2px solid #f9f9f9;
    background-color: #000;
    color: #f1f1f1;
    padding: 0.5rem;
    border-radius: 0.5rem;
}